<h1 align="center">Error en el login</h1>
<div align="center"
  align="center"
  style="border:2px solid white;margin-left:200px;margin-right:200px;">
  <h2>Error en inicio de sesion, valida los datos ingresados:</h2>
  <h3>{{mensaje}}</h3>
  <a href="{{base_url}}/login" style="a:link{color: white}"><button type="submit">Volver</button></a>
</div>

