<h1 style="text-align:center;margin:0">Informacion del Usuario</h1>
<div
    style="text-align: center;"
  >
    <h2 style="margin:0">{{username.username}}</h2>
    <p>{{userid}}</p>
    <img
      src="{{avatar}}"
      alt="avatar"
      style="margin:1vh;text-align:center ;width:150px;height:160px;"
    />
  </div>
<div align="center"
  align="center"
  style="border:2px solid white;margin-left:200px;margin-right:200px;">
  <h2>Editar datos de usuario:</h2>
  <form action="/api/usuarios/{{userid}}/update" method="post">
    <input type="text" name="nombre" required placeholder="Nombre" />
    <input type="text" name="apellido" required placeholder="Apellido" />
    <input type="text" name="username" required placeholder="Username" />
    <input type="text" name="password" required placeholder="Constrasena" />
    <input type="number" name="age" required placeholder="Edad" />
    <input type="text" name="phone" required placeholder="Telefono" />
    <input type="text" name="avatar" required placeholder="URL Imagen" />
    <input type="text" name="email" required placeholder="Ejemplo@correo.com" />
    <button type="submit">Enviar</button>
  </form>
</div>
