<h1 align="center">Productos en Tiempo Real</h1>
<div
  align="center"
  style="border:2px solid white;margin-left:200px;margin-right:200px;"
>
  <h2>Ingresar producto</h2>
  <form id="form-producto">
    <input
      type="text"
      name="idtable"
      id="idtable"
      required
      placeholder="ID Temporal"
    />
    <input
      type="text"
      name="nombre"
      id="nombre"
      required
      placeholder="Nombre"
    />
    <input
      type="text"
      name="precio"
      id="precio"
      required
      placeholder="Precio"
    />
    <input type="text" name="stock" id="stock" required placeholder="Stock" />
    <input
      type="text"
      name="codigo"
      id="codigo"
      required
      placeholder="Codigo"
    />
    <input
      type="text"
      name="descripcion"
      id="descripcion"
      required
      placeholder="Descripcion"
    />
    <input
      type="text"
      name="avatar"
      id="avatar"
      required
      placeholder="Url Imagen"
    />
    <button type="submit">Enviar</button>
  </form>
</div>
<p></p>

<h2 align="center">Productos Disponibles</h2>
<div>
  <table
    class="productsTable"
    style="border:2px solid white;margin-left:auto;margin-right:auto;"
  >
    <thead class="productsTableHead">
      <tr class="productsTableHeaderRow">
        <th>ID del Producto</th>
        <th>Nombre del Producto</th>
        <th>Precio del Producto</th>
        <th>Imagen del Producto</th>
      </tr>
    </thead>
  </table>
</div>
<p></p>
<p></p>

<div
  align="center"
  style="border:2px solid white;margin-left:200px;margin-right:200px;"
>
  <h2>Ingresar informacion</h2>
  <form id="form-message"> 
    <input
      type="text"
      name="email"
      id="input-email"
      placeholder="Ingresa tu email"
      required
    />
    <input
      type="text"
      name="name"
      id="input-nombre"
      placeholder="Ingresa tu nombre"
      required
    />
    <input
      type="text"
      name="apellido"
      id="input-apellido"
      placeholder="Ingresa tu apellido"
      required
    />
    <input
      type="number"
      name="edad"
      id="input-edad"
      placeholder="Ingresa tu edad"
      required
    />
    <input
      type="text"
      name="alias"
      id="input-alias"
      placeholder="Ingresa tu alias"
      required
    />
    <input
      type="text"
      name="avataruser"
      id="input-avatar"
      placeholder="Ingresa url de imagen deseada"
      required
    />
    <input
      type="text"
      name="message"
      id="input-message"
      placeholder="Ingresa mensaje..."
      required
    />
    <button type="submit">Enviar</button>
  </form>
</div>
<p></p>
<table
  align="center"
  style="border:2px solid white;margin-left:auto;margin-right:auto;"
>
  <thead>
    <th style="text-align:center; font-size:35px">Chat De La Aplicación</th>
  </thead>
  <tr>
    <td>
      <ul id="list-messages"> </ul>
    </td>
  </tr>
</table>
<p></p>
<div
  align="center"
  style="border:2px solid white;margin-left:200px;margin-right:200px;"
>
<h1>Porcentaje de Compresion de Mensajes</h1>
<h1 id="list-result"></h1>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/script.js"></script>
<p></p>
<div style="margin: 1vh 3vh;
        border: 2px solid white; 
        padding: 2vh;">
<h2 style="display:block ; text-align:center">Barra de Navegacion</h1> 
<div  style="
        display: flex;
        justify-content: space-between;
        padding: 0vh;
        margin: 0vh;
      "
    >
<p align="center"><a href="{{base_url}}/home">Menu Principal</a></p>
<p align="center"><a href="{{base_url}}/productos">Listado de Productos</a></p>
<p align="center"><a href="{{base_url}}/ingresar">Ingresar Producto</a></p>
<p align="center"><a href="{{base_url}}/info">Informacion de Plataforma</a></p>
</div></div>