<h1 align="center">Productos</h1>
<div
  align="center"
  style="border:2px solid white;margin-left:200px;margin-right:200px;"
>
  <h2>Ingresar producto</h2>
  <div align="center"> <p>{{mensaje}}</p> </div>
  <form action="/api/productos/" method="post">
    <input type="text" name="nombre" required placeholder="Nombre" />
    <input type="text" name="precio" required placeholder="Precio" />
    <input type="text" name="avatar" placeholder="Url" />
    <button type="submit">Enviar</button>
  </form>
  <p><a href="http://localhost:3000/productos">Regresar al listado de productos</a></p>
  <p><a href="http://localhost:3000/visualizador">Visualizador de productos
      Tiempo Real</a></p>
  <p><a href="http://localhost:3000">Menu Principal</a></p>

</div>
<p></p>