<h1 align="center">Bienvenido a la App</h1>
<div align="center"
  align="center"
  style="border:2px solid white;margin-left:200px;margin-right:200px;">
  <h2>Menu de opciones:</h2>
<p><a href="http://localhost:3000/ingresar">Ingresar nuevo producto</a></p>
<p><a href="http://localhost:3000/productos">Listado de productos</a></p>
<p><a href="http://localhost:3000/visualizador">Visualizador de productos Tiempo Real</a></p>


